# Review Exercise

In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [32]:
df_flights = pd.read_csv('../Data/flights.csv', parse_dates=True, index_col = 'year')
df_flights

,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
year,,,,,,,,,,,,,,,
2013-01-01,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
2013-01-01,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
2013-01-01,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
2013-01-01,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0
2013-01-01,1,1,554.0,-4.0,740.0,12.0,UA,N39463,1696,EWR,ORD,150.0,719,5.0,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-01-01,9,30,2105.0,-1.0,2329.0,-25.0,UA,N477UA,475,EWR,IAH,175.0,1400,21.0,5.0
2013-01-01,9,30,2121.0,21.0,2349.0,-25.0,DL,N193DN,2363,JFK,LAX,296.0,2475,21.0,21.0
2013-01-01,9,30,2140.0,0.0,10.0,-30.0,AA,N335AA,185,JFK,LAX,298.0,2475,21.0,40.0
2013-01-01,9,30,2149.0,-7.0,2245.0,-23.0,UA,N813UA,523,EWR,BOS,37.0,200,21.0,49.0
2013-01-01,9,30,2233.0,80.0,112.0,42.0,UA,N578UA,471,EWR,SFO,318.0,2565,22.0,33.0

In [ ]:
# number of rows and columns
df_flights.shape

In [37]:
df_flights.iloc([:4])

SyntaxError: invalid syntax (1011569928.py, line 1)

In [ ]:
# data types
df_flights.dtypes

In [ ]:
# stat summaries
df_flights.describe()

In [ ]:
# group by airline and show min and mean depature delay for each
# min
df_flights.groupby(by='carrier')['dep_delay'].min()

In [ ]:
# mean
df_flights.groupby(by='carrier')['dep_delay'].mean()

In [ ]:
# How many unique aircraft are represented? 
len(pd.unique(df_flights['tailnum']))

In [ ]:
# What was the greatest recorded delay (show the related data)?
df_flights[df_flights['dep_delay'] == df_flights['dep_delay'].max()]

In [ ]:
# Show the mean values for just the first 50 records in the dataset, then for all delays of 15 or more units 
df_50 = df_flights.head(50)

df_50.mean()

In [ ]:
# for all delays of 15 or more units
df_50.loc[(df_50['arr_delay'] > 15) | (df_50['dep_delay'] > 15)]

In [ ]:
# - Make a DataFrame containing all AA flights but drop missing data members
df_flights.loc[df_flights['carrier'] == 'AA'].dropna()

In [ ]:
# Make a DataFrame containing all flights departing from LGA grouped by destination 

df_flights.loc[df_flights['origin'] == 'LGA'].sort_values(by = 'dest')

In [ ]:
# Make a DataFrame containing all flights grouped by airline and sorted by increasing flight duration
df_flights.sort_values(by = ['carrier','air_time'], ascending = [True, True])

In [ ]:
df_flights

In [27]:
df_flights.loc([0:3])

SyntaxError: invalid syntax (821062213.py, line 1)